{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Listado de Roles</h1>

    <a href="{{ path('admin_rol_new') }}" class="btn btn-success col-md-offset-10"> <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo Rol </a>

    {% if rols is not empty %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Nombre</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>Baja</th>
                {% endif %}
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for rol in rols %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td><a href="{{ path('admin_rol_show', { 'id': rol.id }) }}">{{ rol.id }}</a></td>
                {% endif %}
                <td>{{ rol.nombre }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <td>{% if rol.baja %}Yes{% else %}No{% endif %}</td>
                {% endif %}
                <td>
                    <a href="{{ path('admin_rol_show', { 'id': rol.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_rol_show', { 'id': rol.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>¡Lo sentimos! No hay roles cargados en el sistema.</h2>
    {% endif %}

{% endblock %}
