{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Roles lista</h1>
    {% if rols is not empty %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Baja</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for rol in rols %}
            <tr>
                <td><a href="{{ path('admin_rol_show', { 'id': rol.id }) }}">{{ rol.id }}</a></td>
                <td>{{ rol.nombre }}</td>
                <td>{% if rol.baja %}Yes{% else %}No{% endif %}</td>
                <td>

                            <a href="{{ path('admin_rol_show', { 'id': rol.id }) }}">show</a>
                </td>
                <td>
                            <a href="{{ path('admin_rol_edit', { 'id': rol.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>No hay roles incorporados</h2>
    {% endif %}


            <a href="{{ path('admin_rol_new') }}">Create a new rol</a>

{% endblock %}
