{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Rol</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rol.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ rol.nombre }}</td>
            </tr>
            <tr>
                <th>Baja</th>
                <td>{% if rol.baja %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_rol_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_rol_edit', { 'id': rol.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
