{% extends 'base.html.twig' %}

{% block body %}
    <h3>Estadísticas</h3>
    <a href="{{ path('estadistica_index') }}">Realizar estadísticas</a>

    <h1>Listado de Operaciones</h1>

    <a href="{{ path('operacion_new') }}" class="btn btn-success col-md-offset-10"> <i class="fa fa-plus" aria-hidden="true"></i>
        Nueva Operación </a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Diagnóstico</th>
                <th>Habitación</th>
                <th>Observaciones</th>
                <th>Internado</th>
                <th>TQ</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Baja</th>
                {% endif %}
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for operacion in operacions %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td><a href="{{ path('operacion_show', { 'id': operacion.id }) }}">{{ operacion.id }}</a></td>
                {% endif %}
                <td>{{ operacion.diagnostico }}</td>
                <td>{{ operacion.habitacion }}</td>
                <td>{{ operacion.observaciones }}</td>
                <td>{% if operacion.internado %}Yes{% else %}No{% endif %}</td>
                <td>{{ operacion.tq }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>{% if operacion.baja %}Yes{% else %}No{% endif %}</td>
                {% endif %}
                <td>
                    <a href="{{ path('operacion_show', { 'id': operacion.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('operacion_edit', { 'id': operacion.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
