{% extends 'operacion/layout.html.twig' %}

{% block main %}

    <h1>Listado de Operaciones</h1>

        <a href="{{ path('operacion_new') }}" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true"></i>
            Nueva Operación </a>


<br class="espacio">
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de operaciones NO FINALIZADAS</h3>
    </div>
    <div class="panel-body">
    <table id="datatableOpeNoFinalizada" class="table table-striped table-hover dysplay" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Paciente</th>
            <th>Habitación</th>
            <th>Fecha</th>
            <th>Observaciones</th>
            <th>Internado</th>
            <th>TQ</th>
            <th>Ver</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        {% for operacion in opeSinFinalizar %}
            <tr>
                <td>{{ operacion.reserva.paciente.nombre }} {{ operacion.reserva.paciente.apellido }}</td>
                <td>{{ operacion.habitacion }}</td>
                <td>{{ operacion.reserva.fechainicio|date('d/m/Y')  }}</td>
                <td>{{ operacion.observaciones }}</td>
                <td>{% if operacion.internado %}Yes{% else %}No{% endif %}</td>
                <td>{{ operacion.tq }}</td>
                <td>
                    <a href="{{ path('operacion_show', { 'id': operacion.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('operacion_edit', { 'id': operacion.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
