{% extends 'operacion/layout.html.twig' %}

{% block main %}

    {% if app.request.query.get("exito") == "cancel" %}
        <div class="alert alert-success">Se ha finalizado exit贸samente la Operaci贸n.</div>
    {% endif %}

    <h1>Listado de Operaciones</h1>

        <a href="{{ path('operacion_new') }}" class="btn btn-primary col-md-offset-10"> <i class="fa fa-plus" aria-hidden="true"></i>
            Nueva Operaci贸n </a>


<br class="espacio"></br>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de operaciones NO FINALIZADAS</h3>
    </div>
    <div class="panel-body">
    <table id="datatableOpeNoFinalizada" class="table table-striped table-hover dysplay" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Paciente</th>
            <th>Habitaci贸n</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Internado</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Finalizar</th>

        </tr>
        </thead>
        <tbody>
        {% for operacion in opeSinFinalizar %}
        {% if operacion.baja == 0 %}
            <tr>
    
               <td>{{ operacion.reserva.paciente.nombre }} {{ operacion.reserva.paciente.apellido }}</td> 
                <td>{{ operacion.habitacion }}</td>
                <td>{{ operacion.reserva.fechainicio|date('d/m/Y')  }}</td> 
                <td>{{ operacion.reserva.estado.tipo }}</td>
                <td>{% if operacion.internado %}Yes{% else %}No{% endif %}</td>
      
                <td>
                    <a href="{{ path('operacion_show', { 'id': operacion.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('operacion_edit', { 'id': operacion.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('operacion_finish', { 'id': operacion.id }) }}"><i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                </td>

            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
