{% extends 'base.html.twig' %}

{% block body %}
    <h1>Operación</h1>

    <table class="table table-striped table-hover">
        <tbody>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <tr>
                    <th>Id</th>
                    <td>{{ operacion.id }}</td>
            </tr>
            {% endif %}
             <tr>
                    <th>Estado de la operacion</th>
                    <td>{{ operacion.reserva.estado.tipo }} </td>
            </tr>
             <tr>
                    <th>Paciente</th>
                    <td>{{ operacion.reserva.paciente.nombre }} {{ operacion.reserva.paciente.apellido }}</td>
            </tr>
             <tr>
                    <th>Mutual</th>
                    <td>{{ operacion.reserva.paciente.mutual }} </td>
            </tr>
             <tr>
                    <th>Servicio</th>
                    <td>{{ operacion.reserva.servicio.tipo }}</td>
            </tr>
            <tr>
                    <th>Sangre</th>
                    <td>{{ operacion.sangre.nombre }}</td>
            </tr>
            <tr>
                <th>Diagnóstico</th>
                <td>{{ operacion.diagnostico }}</td>
            </tr>
            <tr>
                <th>Habitación</th>
                <td>{{ operacion.habitacion }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ operacion.observaciones }}</td>
            </tr>
            <tr>
                <th>Internado</th>
                <td>{% if operacion.internado %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Tq</th>
                <td>{{ operacion.tq }} </td>
            </tr>
             <tr>
                <th>Personal</th>
                {% for personal in operacion.personal  %}
                <td>{{ personal.nombre }} </td>
                {% endfor %}
            </tr>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <tr>
                <th>Baja</th>
                <td>{% if operacion.baja %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <a href="{{ path('operacion_index') }}" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Volver al Listado </a>
            </td>
            <td>
                <a href="{{ path('operacion_edit', { 'id': operacion.id }) }}" class="btn btn-warning"> <i class="fa fa-pencil" aria-hidden="true"></i>
                    Editar </a>
            </td>
            <td>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
                    Eliminar </button>
                {{ form_end(delete_form) }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
