{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Listado del Personal</h1>

    <a href="{{ path('personal_new') }}" class="btn btn-success col-md-offset-10"> <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo Personal </a>

    <div class="col-md-12 espacio"></div>
{% if personals is not empty %}
    <table class="datatable table table-striped table-hover dysplay" cellspacing="0" width="100%">
        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Genero</th>
                <th>DNI</th>
                <th>Fecha de nacimiento</th>
                
                <th>Es administrador</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        {% for personal in personals %}
        {% if personal.baja == 0 %}
            <tr>
               
                <td>{{ personal.nombre }}</td>
                <td>{{ personal.apellido }}</td>
                <td>{{ personal.genero }}</td>
                <td>{{ personal.dni }}</td>
                <td>{{ personal.edad|date('d / m / Y') }}</td>
              

                <td>{% if personal.user is not empty %}
                        Si
                        {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('personal_show', { 'id': personal.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="{{ path('personal_edit', { 'id': personal.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <div class="navigation text-center">
        {{ pagerfanta(personals, 'twitter_bootstrap3_translated', { routeName: 'personal_index_paginated' }) }}
    </div>

    {% else %}
    <h2>¡Lo sentimos! No hay personal cargado en el sistema.</h2>
    {% endif %}

{% endblock %}

