{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Personals list</h1>
{% if personals is not empty %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Baja</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Genero</th>
                <th>Dni</th>
                <th>Edad</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for personal in personals %}
            <tr>
                <td><a href="{{ path('personal_show', { 'id': personal.id }) }}">{{ personal.id }}</a></td>
                <td>{% if personal.baja %}Yes{% else %}No{% endif %}</td>
                <td>{{ personal.nombre }}</td>
                <td>{{ personal.apellido }}</td>
                <td>{{ personal.genero }}</td>
                <td>{{ personal.dni }}</td>
                <td>{{ personal.edad }}</td>
                <td>
                    <a href="{{ path('personal_show', { 'id': personal.id }) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('personal_edit', { 'id': personal.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No hay personal incorporado</h2>
    {% endif %}
            <a href="{{ path('personal_new') }}">Create a new personal</a>

{% endblock %}
