{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Personal</h1>

    <table class="table table-striped table-hover">
        <tbody>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <tr>
                <th>Id</th>
                <td>{{ personal.id }}</td>
            </tr>
            <tr>
                <th>Baja</th>
                <td>{% if personal.baja %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Nombre</th>
                <td>{{ personal.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ personal.apellido }}</td>
            </tr>
            <tr>
                <th>Género</th>
                <td>{{ personal.genero }}</td>
            </tr>
            <tr>
                <th>DNI</th>
                <td>{{ personal.dni }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ personal.edad }}</td>
            </tr>
            {% if personal.user is not empty %}
                <tr>
                    <th>Nombre de Usuario</th>
                    <td>{{ personal.user.username }}</td>
                </tr>
            {% else %}
                <tr>
                    <th>Nombre de Usuario</th>
                    <td><a href="{{ path('user_new', { 'id_personal': personal.id }) }}" class="btn btn-success col-md-offset-10"> <i class="fa fa-plus" aria-hidden="true"></i>
                    Crear Usuario </a></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <a href="{{ path('personal_index') }}" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Volver al Listado </a>
            </td>
            <td>
                <a href="{{ path('personal_edit', { 'id': personal.id }) }}" class="btn btn-warning"> <i class="fa fa-pencil" aria-hidden="true"></i>
                    Editar </a>
            </td>
            <td>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
                    Eliminar </button>
                {{ form_end(delete_form) }}
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
