{% extends 'Admin/layout.html.twig' %}

{% block main %}

    <h1>Modificar información del Estado de Reserva</h1>

    {% if error is defined %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {{ form_start(edit_form) }}
    <div class="form-group">
        {{ form_widget(edit_form) }}
    </div>
    <div class="alert alert-info">Los campos con * son obligatorios.</div>
    <div class="form-group">
        {% if not error is defined %}
            <input type="hidden" name="actual" value="{{ edit_form.vars.value.tipo }}"/>
        {% endif %}
        <button type="submit" class="btn btn-success col-sm-offset-10"> <i class="fa fa-check" aria-hidden="true"></i>
            Confirmar </button>
    </div>
    {{ form_end(edit_form) }}

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <a href="{{ path('admin_estado_show', { 'id': estado.id }) }}" class="btn btn-primary">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
