{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Lista de Estados </h1>

{% if estados is not empty %}
<table class="table table-striped table-hover">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Tipo</th>
                <th>Descripcion</th>
                <th>Baja</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for estado in estados %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td><a href="{{ path('admin_estado_show', { 'id': estado.id }) }}">{{ estado.id }}</a></td>
                {% endif %}

                <td>{{ estado.tipo }}</td>
                <td>{{ estado.descripcion }}</td>
                <td>{% if estado.baja %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('admin_estado_show', { 'id': estado.id }) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('admin_estado_edit', { 'id': estado.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>No hay estados incorporado</h2>
{% endif %}
    <a href="{{ path('admin_estado_new') }}">Create a new estado</a>
{% endblock %}
