{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ quirofano.nombre }}</h1>
    
    {% if total > 0 %}
    <table class="table table-striped">

    
    <tr>
    <th id="turnos">Turnos para el día {{ fecha }} </th>
    </tr>
    <tr>
    <th> Servicio</th>
    <th> Paciente</th>
    <th> Estado</th>
    <th> Horario</th>
    <th>Ver</th>
    <th>Editar</th>
    <th>Cancelar</th>
    <tr>
    {% for turno in turnos %}
       <tr>
       
       <td>{{ turno.servicio.tipo }}</td>
       <td>{{ turno.paciente.nombre }} {{ turno.paciente.apellido }}</td>
      <td>{{ turno.estado.tipo }}</td>
        <td>
         {{ turno.fechainicio|date('H:i:s')}}hs a  {{ turno.fechafin|date('H:i:s')}} hs
       </td>

       <td>
        <a href="{{ path('reserva_show', { 'id': turno.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
     </td>
     <td>
        <a href="{{ path('reserva_edit', { 'id': turno.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
         </td>
        <td>
        <a href="{{ path('reserva_cancel', { 'id': turno.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i></a>
         </td>

       </tr>

    {% endfor %}
    </table>

    
    {% else %}

        <h3>No hay turnos registrados en el quirofano para el día {{ fecha }}<h3>
    {% endif %}

      <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <a href="{{ path('reserva_new') }}" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Volver a alta de reserva </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}