{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reserva</h1>

    {% if app.request.query.get("exito") == "new" %}
        <div class="alert alert-success">Se ha creado exitósamente la nueva Reserva.</div>
    {% else %}
        <div class="alert alert-success">Se ha modificado exitósamente la Reserva.</div>
    {% endif %}

    <table class="table table-striped table-hover">
        <tbody>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <tr>
                    <th>Id</th>
                    <td>{{ reserva.id }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Nº Reserva</th>
                <td>{{ reserva.numeroReserva }}</td>
            </tr>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <tr>
                    <th>Baja</th>
                    <td>{% if reserva.baja %}Si{% else %}No{% endif %}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Paciente</th>
                <td>{{ reserva.paciente.nombre }} {{ reserva.paciente.apellido }}</td>
            </tr>
            <tr>
                <th>Cirujano</th>
                <td> hola </td>
            </tr>
            <tr>
                <th>Servicio</th>
                <td>{{ reserva.servicio.tipo }}</td>
            </tr>
            <tr>
                <th>Quirófano</th>
                <td>{{ reserva.quirofano.nombre }}</td>
            </tr>
            <tr>
                <th>Nº Reserva</th>
                <td>{{ reserva.numeroReserva }}</td>
            </tr>
            <tr>
                <th>Fecha y Hora Inicio</th>
                <td>{% if reserva.fechainicio %}{{ reserva.fechainicio|date('d/m/Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha y Hora Fin</th>
                <td>{% if reserva.fechafin %}{{ reserva.fechafin|date('d/m/Y H:i:s') }}{% endif %}</td>
            </tr>
             <tr>
                <th>Estado</th>
                <td>{{ reserva.estado.tipo }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <a href="{{ path('reserva_index') }}" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Volver al Listado </a>
                </td>
                {% if reserva.estado.tipo != "CANCELADA" and reserva.estado.tipo != "FINALIZADA" %}
                    <td>
                        <a href="{{ path('reserva_edit', { 'id': reserva.id }) }}" class="btn btn-warning"> <i class="fa fa-pencil" aria-hidden="true"></i>
                            Editar </a>
                    </td>
                    <td>
                        {{ form_start(delete_form) }}
                            <button type="submit" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar </button>
                        {{ form_end(delete_form) }}
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}

