{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reserva</h1>

    {% if app.request.query.get("exito") == "new" %}
        <div class="alert alert-success">Se ha creado exitósamente la nueva Reserva.</div>
    {% endif %}
    {% if app.request.query.get("exito") == "edit" %}
        <div class="alert alert-success">Se ha modificado exitósamente la Reserva.</div>
    {% endif %}

    <table class="table table-striped table-hover">
        <tbody>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <tr>
                    <th>Id</th>
                    <td>{{ reserva.id }}</td>
                </tr>
            {% endif %}
            
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <tr>
                    <th>Baja</th>
                    <td>{% if reserva.baja %}Si{% else %}No{% endif %}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Paciente</th>
                <td>{{ reserva.paciente.nombre }} {{ reserva.paciente.apellido }}</td>
            </tr>
            <tr>
                <th>Cirujano</th>
                <td> hola </td>
            </tr>
            <tr>
                <th>Servicio</th>
                <td>{{ reserva.servicio.tipo }}</td>
            </tr>
            <tr>
                <th>Quirófano</th>
                <td>{{ reserva.quirofano.nombre }}</td>
            </tr>
           
            <tr>
                <th>Fecha y Hora Inicio</th>
                <td>{% if reserva.fechainicio %}{{ reserva.fechainicio|date('d/m/Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha y Hora Fin</th>
                <td>{% if reserva.fechafin %}{{ reserva.fechafin|date('d/m/Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tiempo quirurgico</th>
                <td>{{ reserva.operacion.tq }}</td>
            </tr>
             <tr>
                <th>Estado</th>
                <td>{{ reserva.estado.tipo }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <a href="{{ path('reserva_index') }}" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Volver al Listado </a>
                </td>
                {% if reserva.estado.tipo != "CANCELADA" and reserva.estado.tipo != "FINALIZADA" %}
                    <td>
                        <a href="{{ path('reserva_edit', { 'id': reserva.id }) }}" class="btn btn-warning"> <i class="fa fa-pencil" aria-hidden="true"></i>
                            Editar </a>
                    </td>
                    <td>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">
                            <i class="fa fa-ban" aria-hidden="true"></i>Cancelar
                        </button>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel-heading" style="background-color: #2c3e50;">
                    <h2 class="text-center" style="color: white;">Confirmación de Cancelación</h2>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">¿Está seguro que desea cancelar la Reserva?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" style="float:left;" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i>Cancelar </button>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true"></i>Confirmar </button>
                    {{ form_end(delete_form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

