{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Listado de ASAs</h1>

    <a href="{{ path('admin_asa_new') }}" class="btn btn-success col-md-offset-10"> <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo Estado </a>

    {% if asas is not empty %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Grado</th>
                <th>Descripción</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>Baja</th>
                {% endif %}
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for asa in asas %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td><a href="{{ path('admin_asa_show', { 'id': asa.id }) }}">{{ asa.id }}</a></td>
                {% endif %}

                <td>{{ asa.grado }}</td>
                <td>{{ asa.descripcion }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <td>{% if asa.baja %}Yes{% else %}No{% endif %}</td>
                {% endif %}
                <td>
                    <a href="{{ path('admin_asa_show', { 'id': asa.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_asa_edit', { 'id': asa.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>¡Lo sentimos! No hay ASAs cargadas en el sistema.</h2>
{% endif %}

{% endblock %}
