{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Asa</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asa.id }}</td>
            </tr>
            <tr>
                <th>Grado</th>
                <td>{{ asa.grado }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ asa.descripcion }}</td>
            </tr>
            <tr>
                <th>Baja</th>
                <td>{% if asa.baja %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_asa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_asa_edit', { 'id': asa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
