{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Lista de tipo de Sangre</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Id</th>
                {% endif %}

                <th>Nombre</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
            </tr>
        </thead>
        <tbody>
        {% for sangre in sangres %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td><a href="{{ path('Admin_sangre_show', { 'id': sangre.id }) }}">{{ sangre.id }}</a></td>
                {% endif %}
                <td>{{ sangre.nombre }}</td>
                <td>

                            <a href="{{ path('Admin_sangre_show', { 'id': sangre.id }) }}">show</a>
                </td>  <td>
                            <a href="{{ path('Admin_sangre_edit', { 'id': sangre.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Admin_sangre_new') }}">Create a new sangre</a>
        </li>
    </ul>
{% endblock %}
