<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Sistema de Gesti贸n de Quir贸fano - Hospital Rossi{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-flatly-3.3.7.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome-4.6.3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-lato.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/highlight-solarized-light.css') }}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/r-2.1.0/se-1.2.0/datatables.min.css"/>


        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
    {#poner un icono del hospital rossi#}
    <link rel="icon" type="image/png" href="{{ asset('rr.png') }}" />

</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('reserva_index') }}">
                        <img src="{{ asset('rr-banner.png') }}" alt="Hospital Rodolfo Rossi" class="img-circle img-responsive" width="15%">
                    </a>

                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">menu_desplegable</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% block header_navigation_links %}
                            <li>
                                <a href="{{ path('reserva_index') }}">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> Reservas
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('operacion_index') }}">
                                    <i class="fa fa-stethoscope " aria-hidden="true"></i> Operaciones
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('paciente_index') }}">
                                    <i class="fa fa-users" aria-hidden="true"></i> Pacientes
                                </a>
                            </li>

                            {#ESto es lo que va a ver el admin#}
                            <li>
                                <a href="{{ path('personal_index') }}">
                                    <i class="fa fa-wrench" aria-hidden="true"></i> Configuraci贸n
                                </a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesi贸n
                                    </a>
                                </li>
                            {% endif %}
                            {#<form class="navbar-form navbar-left" role="search">#}
                                {#<div class="form-group">#}
                                    {#<input type="text" class="form-control" placeholder="Buscar">#}
                                {#</div>#}
                                {#<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i>#}
                                {#</button>#}
                            {#</form>#}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
        {#<div id="ejemplo" data-path="{{path('ajax_personal')}}"></div>#}
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}
                    {#aca va el sidebar de operaciones o reservas o configuracoines... serian las opciones#}
                {% endblock %}
            </div>


            <div id="main" class="col-sm-9">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}
                   {#Aca va el el contenido mas importante por lo general van a ser las tablas y las estadisticas#}
                {% endblock %}
            </div>

        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - Proyecto - UNLP|Facultad Informatica</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-3.3.7.min.js') }}"></script>
    <script src="{{ asset('js/highlight.pack.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/genericos.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/r-2.1.0/se-1.2.0/datatables.min.js"></script>

    <script src="{{ asset('js/datatable.js') }}"></script>
    <script src="{{ asset('js/pdf-estadistica.js') }}"></script>
    <script src="{{ asset('js/jsPDF/dist/jspdf.min.js') }}"></script>
    <script src="{{ asset('js/jsPDF/dist/jspdf.plugin.autotable.js') }}"></script>


{% endblock %}


</body>
</html>
