{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de Pacientes</h1>

    <a href="{{ path('paciente_new') }}" class="btn btn-success col-md-offset-10"> <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo Paciente </a>
    <div class="col-md-12 espacio"></div>
    <table class="datatable table table-striped table-hover dysplay" cellspacing="0" width="100%">
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Mutual</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Baja</th>
                {% endif %}
                <th>Nombre</th>
                <th>Apellido</th>
                <th>G&eacute;nero</th>
                <th>Dni</th>
                <th>Edad</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td><a href="{{ path('paciente_show', { 'id': paciente.id }) }}">{{ paciente.id }}</a></td>
                {% endif %}
                <td>{{ paciente.mutual }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>{% if paciente.baja %}Yes{% else %}No{% endif %}</td>
                {% endif %}
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.apellido }}</td>
                <td>{{ paciente.genero }}</td>
                <td>{{ paciente.dni }}</td>
                <td>{{ paciente.edad }}</td>
                <td>
                            <a href="{{ path('paciente_show', { 'id': paciente.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i>
                            </a>
                </td>
                <td>
                            <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ pagerfanta(pacientes, 'twitter_bootstrap3_translated', { routeName: 'paciente_index_paginated' }) }}
    </div>


{% endblock %}
