{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pacientes list</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mutual</th>
                <th>Baja</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Genero</th>
                <th>Dni</th>
                <th>Edad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td><a href="{{ path('paciente_show', { 'id': paciente.id }) }}">{{ paciente.id }}</a></td>
                <td>{{ paciente.mutual }}</td>
                <td>{% if paciente.baja %}Yes{% else %}No{% endif %}</td>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.apellido }}</td>
                <td>{{ paciente.genero }}</td>
                <td>{{ paciente.dni }}</td>
                <td>{{ paciente.edad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paciente_show', { 'id': paciente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paciente_new') }}">Create a new paciente</a>
        </li>
    </ul>
{% endblock %}
