{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>User</h1>

    <table  class="table table-striped table-hover ">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Datos personal</th>
                
            </tr>
            <tr>
                <td>{{ user.id }}</td>
                {% if user.personal != null  %}
                <td>{{ user.personal.nombre }} {{ user.personal.apellido }} </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li> 
    </ul>
{% endblock %}
