{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Servicios list</h1>
    {% if servicios is not empty %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Descripcion</th>
                <th>Baja</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr>
                <td><a href="{{ path('admin_servicio_show', { 'id': servicio.id }) }}">{{ servicio.id }}</a></td>
                <td>{{ servicio.tipo }}</td>
                <td>{{ servicio.descripcion }}</td>
                <td>{% if servicio.baja %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('admin_servicio_show', { 'id': servicio.id }) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('admin_servicio_edit', { 'id': servicio.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>No hay servicios incorporados</h2>
    {% endif %}
    <a href="{{ path('admin_servicio_new') }}">Create a new servicio</a>

{% endblock %}
