{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Servicio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ servicio.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ servicio.tipo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ servicio.descripcion }}</td>
            </tr>
            <tr>
                <th>Baja</th>
                <td>{% if servicio.baja %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_servicio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_servicio_edit', { 'id': servicio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
