{% extends 'base.html.twig' %}
{% block body %}

    <div class="well">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class='col-sm-6'>
        {{ form_row(form.fechaIni) }}
        </div>
        <div class='col-sm-6'>
            {{ form_row(form.fechaFin) }}
        </div>
        <div class="col-md-12 espacio">
        {{ form_row(form.save) }}
        </div>
    </div>

    {{ form_end(form) }}

    </div>

<table id="tabla_estadistica" class="table table-striped table-hover">
<tr>
 <th id="servicio[0]">Servicio</th>
 <th id="programadas[0]">Cirugias programadas</th>
 <th id="guardia[0]">Cirugías por guardia</th>
 <th id="anestesia[0]">Cirugías con anestesia</th>
 <th id="total[0]">Total de cirugias</th>
</tr>
{% set counter = 0 %}
{% for servicio in servicios %}
    {% set counter = counter + 1 %}
<tr>
	<td id="servicio[{{ counter }}]">{{ servicio[0] }}</td>
	<td id="programadas[{{ counter }}]">{{ servicio[1] }}</td>
	<td id="guardia[{{ counter }}]">{{ servicio[2] }}</td>
	<td id="anestesia[{{ counter }}]">{{ servicio[3] }}</td>
	<td id="total[{{ counter }}]">{{ servicio[4] }}</td>
</tr>
{% endfor %}
<tr>
    <th></th>
    <th>Total programadas:{{ totalprogramadas }}</th>
    <th>Total por guardia: {{ totalguardia }} </th>
    <th>Total con anestesia: {{ totalanestesia }}</th>
    <th>Total {{ total }}</th>
</tr>
</table>

<form><input type="hidden" id="cantidadservicios" value="{{ counter }}"></form>

<a href="javascript:demoFromHTML()" class="btn btn-success col-md-offset-10"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    Exportar </a>

{% endblock %}
